* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ibarra Real Nova", serif;
}

header {
  text-align: center;
  background-color: #fad9a1;
  padding: 20px;
}

header > h1 {
  font-size: 50px;
}

.content {
  background-image: url("./encryption.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
}

input {
  height: 40px;
}

.content .message,
.content .key {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.buttons {
  padding: 20px;
}

button {
  padding: 5px;
  background-color: #fad9a1;
  width: 20vw;
  margin-right: 10px;
  font-size: 1rem;
}

.output {
  padding: 20px;
  font-size: 30px;
}
